# ===========================================================================
# PROJECT ENVIRONMENT SETUP: invoke-cleanup/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO: https://direnv.net/
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash / HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
# ===========================================================================
# DISABLED: export PYTHONPATH=".:$TOPDIR:$TOPDIR/lib/python:${PYTHONPATH}"

export TOPDIR="$PWD"
export PYTHONPATH=".:$TOPDIR:${PYTHONPATH}"
export PATH=".:$TOPDIR/bin:$PATH"

echo "USING: $PWD/.envrc ..."
